﻿@model IEnumerable<EShop2018.MVC.Models.Cart.CartLineViewModel>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>          
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

    </table>
}
else
{
    <div class="alert alert-success" style="margin-top:25px">Tu cesta está vacía.</div>
}
<div class="row">
    <a class="btn btn-primary pull-left" href="@Url.Action("Index","Product")">Seguir comprando</a>
    @if (Model.Any())
    {
        <a class="btn btn-default pull-right" href="@Url.Action("Index","Product")">Pagar</a>
    }
</div>
