﻿@using EShop2018.DTOs
@model IEnumerable<CategoryDTO>

<div class="column" style="margin-top:10px">
    <ul class="nav nav-pills">
        @foreach(var category in Model)
        {
            <li>@category.Name</li>
        }
    </ul>
</div>