﻿@using EShop2018.DTOs
@model ProductDTO

<div class="card" style="width:18rem;margin-top:50px">
    <img class="card-img-top Image_@Model.Id" src="@Model.Image" alt="Product Image"/>
    <div class="card-body">
        <h5 class="card-title text-center"><b>@Model.Name</b></h5>
        <p class="card-text text-center alert alert-success">@string.Format("{0:C}", Model.Price)</p>
        <div class="text-center">
            <a href="#" data-id="@Model.Id" class="btn btn-primary add-to-cart">Al carrito</a>
            <a href="#" class="btn btn-default">+ Info</a>
        </div>
    </div>
</div>
