﻿@using EShop2018.DTOs
@model IEnumerable<ProductDTO>

<div class="col-md-12">
    @foreach(var product in Model)
    {
        <div class="col-lg-4 col-sm-6 col-md-4">
            @Html.Partial("_Product", product)
        </div>
    }
</div>
