﻿@using EShop2018.MVC.Models.Product
@model ProductIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-2">
        @Html.Partial("_Categories", Model.Categories)
    </div>
    <div class="col-md-10">
        @Html.Partial("_Products", Model.Products)
    </div>
</div>
